<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.veryw.testveryssssss">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check whether user has network connection or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RotateActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".FlyEnterActivity" />
        <activity android:name=".FlyStartActivity" />
        <activity android:name=".PushNewsDialog" />
        <activity
            android:name=".ViewPagerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".ARActivity">
            <meta-data
                android:name="HiAR_APPKEY"
                android:value="gmSfLXFf1D" />
            <meta-data
                android:name="HiAR_APPSECRET"
                android:value="d47d584becfd63978062041a5b14cc10" />
        </activity>
        <activity android:name=".ViewsActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".PulltoRefreshActivity"></activity>
    </application>

</manifest>